<div class="container">
  <h1>{{ titulo | uppercase }}</h1>
  <p>Fecha: {{ fechaActual | date:'fullDate' }}</p>

  <button (click)="ocultarLista()">
    {{ mostrarLista ? 'Ocultar lista' : 'Mostrar lista' }}
  </button>

  <div class="agregar">
    <input [(ngModel)]="nuevoProducto" placeholder="Nuevo producto" />
    <button (click)="agregarProducto()">Agregar</button>
  </div>

  <div *ngIf="mostrarLista">
    <h2>Productos:</h2>
    <div class="grid">
      <app-producto-card
        *ngFor="let prod of productos"
        [nombre]="prod">
      </app-producto-card>
    </div>
  </div>
</div>